* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cornflowerblue;
}

section.sorte {
    display: flex;
    justify-content: center;
    height: 96.8vh;
    align-items: center;
 }

#vamos {
    width: 100%;
    max-width: 600px;
    background-color: azure;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px black;
}
#vamos:hover {
    max-width: 610px;
    height: 115px;
    background-color: rgb(53, 181, 190);
}
section.sorte button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: blue;
    color: azure;
    margin: 20px;
}

footer {
    color: azure;
   text-align: center;
   background-color: black;
}
